[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "lib/IconFontCppHeaders"]
	path = lib/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
	branch = main
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib/nlohmann_json"]
	path = lib/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = develop
